{%extends "index.html"%}
{% block content %}
<p align="justify">Hajj-info.com is a comprehensive guide for your hajj preparation. We provide range of
    information related to hajj that includes, hajj ritual guide, hajj visa information, your staying in the holy 
    city of Makkah and Madinah, car rentals during hajj etc. We also provide information of hajj agents in your 
    country with the information regarding cost to perform your hajj journey. In this way you can compare 
    hajj agents and their hajj packages.       
</p>
{% load static %}
 <img src= "{% static 'images/baitullah.jpg'%}", class="img-fluid",alt="Kaba"> 
{% endblock %}
