{%extends "index.html"%}
{% block content %}
  <h1>How To Perform Hajj</h1>
   <p>
        Millions of Muslims from around the world gather annually in Mecca 
        in anticipation of Hajj – the Muslim pilgrimage, which follows the 
        actions of the Prophet Muhammad 1,377 years ago.Taking part in the 
        pilgrimage at least once in one’s lifetime is a major obligation 
        for all able-bodied Muslims of financial means, and between two 
        and three million people participate in the six-day ritual every year.
    </p>
{% endblock %}
