<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hajj Information</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%load static%}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
-->
</head>
<body>
  {% block Head %}  
  <div class="jumbotron text-center">
    {%load static%} 
      <!--<img src="{% static 'bismillah.jpg' %}" style="width:10%"> --> 
    <h1>بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ</h1>
    <h2>Get Informed to Make Your Pilgrimage Smooth</h2>
      <p>WellCome to Hajj-info.com</p> 
  </div>
  {%endblock%}
  
<!-- Page divided into two Columns 1st is Vertical Manue 2nd is Content-->
<div class="row">

  <div class="col-sm-1">
  </div>
  {%block sidemanue%}
  <div class="col-sm-2">
    <div class="container">
      <div class="span2">
    <!-- Vetical manue-->
            <nav class="navbar navbar-light bg-dark navbar-dark">
              <!-- Links -->
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'howto' %}">How To Perform Hajj</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'history' %}">Hajj in Islamic History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Q&H' %}">Hajj in Quran and Hadith</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'visa' %}">Hajj Visa Information</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'agents' %}">Hajj Travel Agents</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'rentals' %}">Hajj Car Rentals</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'flights' %}">Live Hajj Flight Info</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'blog' %}">Hajj Blog</a>
                </li>
            </ul>
          </nav>
        </div>
        {%endblock%}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container">
        <div class="span8">        
          {%block content%}

          {%endblock%}
        </div>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>

</body>
</html>

