<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hajj Information</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%load static%}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
  {% block Head %}  
  <div class="jumbotron text-center">
      <h1>Get Informed To Make  Your Pilgrimage Easy</h1>
      <p>WellCome to Hajj-info.com</p> 
  </div>
  {%endblock%}

<div class="container">
    <div class="row">       
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <nav class="navbar navbar-left" role="navigation">
                <button type="button" class="btn btn-primary btn-lg btn-block visible-xs" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1"><i class="fa fa-lg fa-bars"></i> Menu</button>
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            some content here
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                 some content here
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                some content here
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                some content here
                </div>
            </div>
        </div>
    </div>
</div>

