{%extends "index.html"%}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hajj Information</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%load static%}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

{% block content %}
  <h1 id="title", align="center">Select the country from which you want perform Hajj</h1>
  <div>
    <select class="combobox">
      <option></option>
      <option value="PA">Pennsylvania</option>
      <option value="CT">Connecticut</option>
      <option value="NY">New York</option>
      <option value="MD">Maryland</option>
      <option value="VA">Virginia</option>
    </select>
</div>
<button onclick="test()">Change Title</button>
<script>
  function test(){
    document.getElementById('title').innerHTML='helloJavaScript'
  }
</script>

{% endblock %}

</html>